<html>

	<head>
		<link rel="stylesheet" type="text/css" href="https://webapi.amap.com/theme/v1.3/style1503546983737.css">
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>登录</title>
		<link rel="shortcut icon" href="img/logo.ico" type="img/x-icon">
		<!--<script src="https://hm.baidu.com/hm.js?25267f815d19ca3f16af3eea13a101b8"></script>-->
		<script async="" charset="utf-8" src="js/udeskApi.js"></script>
		<script src="js/redirect.js"></script>
		<script src="js/polyfill.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/common.js"></script>
		<style type="text/css">
			.alert-wrap {
				height: 662px
			}
		</style>
		<link href="css/one.css" rel="stylesheet">
		<style type="text/css">
			.el-vue-amap-container,
			.el-vue-amap-container .el-vue-amap {
				height: 100%
			}
		</style>
		<style type="text/css">
			.el-vue-search-box-container {
				position: relative;
				width: 360px;
				height: 45px;
				background: #fff;
				box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
				border-radius: 2px 3px 3px 2px;
				z-index: 10
			}
			
			.el-vue-search-box-container .search-box-wrapper {
				position: absolute;
				display: flex;
				align-items: center;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-sizing: border-box
			}
			
			.el-vue-search-box-container .search-box-wrapper input {
				flex: 1;
				height: 20px;
				line-height: 20px;
				letter-spacing: .5px;
				font-size: 14px;
				text-indent: 10px;
				box-sizing: border-box;
				border: none;
				outline: none
			}
			
			.el-vue-search-box-container .search-box-wrapper .search-btn {
				width: 45px;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: transparent;
				cursor: pointer
			}
			
			.el-vue-search-box-container .search-tips {
				position: absolute;
				top: 100%;
				border: 1px solid #dbdbdb;
				background: #fff;
				overflow: auto
			}
			
			.el-vue-search-box-container .search-tips ul {
				padding: 0;
				margin: 0
			}
			
			.el-vue-search-box-container .search-tips ul li {
				height: 40px;
				line-height: 40px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
				padding: 0 10px;
				cursor: pointer
			}
			
			.el-vue-search-box-container .search-tips ul li.autocomplete-selected {
				background: #eee
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div db="http://api.faepai.com/index.php/Web/Interface/">
				<div>
					<div class="nav index-nav">
						<div class="container clear-both">
							<div class="nav-left">
								<a href="" class="logo-main inline-block m-r-10 router-link-active"><img src="img/logo-main.png"></a>
								<div class="nav-list inline-block">
									<a href="index.html" class="nav-list-item router-link-active">首页</a>
									<a href="court.html" class="nav-list-item">法院</a>
									<a href="list.html" class="nav-list-item">货品·预约</a>
									<a href="sign.html" tag="a" target="_blank" class="nav-list-item">法院监管</a>
									<a href="corporation.html" class="nav-list-item">招聘英才</a>
									<a href="cooperation.html" class="nav-list-item">联系我们</a>
								</div>
							</div>
							<div class="nav-right  clear-both">
								<div class="nav-login inline-block  cursor-pointer"><i class="material-icons float-blcok"></i>
									<!---->
									<a href="login.html" class="float-blcok vertical-middle login router-link-exact-active router-link-active">登录</a>
									<a> | </a>
									<!---->
									<a href="login.html" class="vertical-middle sign">注册</a>
								</div>
								<!---->
							</div>
						</div>
						<div class="login-wrap">
							<div class="login-window i-tab">
								<div class="common-tab">
									<div class="common-tab-btn sign-login-btn login-sign-active">用户登录</div>
									<div class="common-tab-btn sign-login-btn">用户注册</div>
								</div>
								<div class="common-tab-item" style="display: block;"><input type="text" placeholder="请输入手机号码" class="input-border m-t-60"> <input type="text" placeholder="请输入登录密码" class="input-border m-t-20">
									<div class="btn btn-red m-t-20 cursor-pointer">登录</div>
								</div>
								<div class="common-tab-item"><input type="text" placeholder="请输入手机号码" class="input-border m-t-20 sign-phonenum">
									<div class="position-relative">
										<input type="text" class="input-border m-t-20"> 
											<span class="color-white bg-red get-phone-code-btn">获取验证码</span>
									</div> <input type="text" placeholder="请输入登录密码" class="input-border m-t-20"> 
										<input type="text" placeholder="请重新输入密码" class="input-border m-t-20">
									<div class="btn btn-red m-t-20 cursor-pointer">注册</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container loginpage-container min-height">
					<div class="login-image">
						
					</div>
					<div class="loginpage-box">
						<div class="loginpage-box-tabs clear-both">
							<a href="javascript:navigate_tabs('a','first-tab');" id="first-tab" class="" style="font-size: 1.3em; width: 30%; margin-left: 30px; float: left;">账号登录</a> 
							<a href="javascript:navigate_tabs('b','second-tab');" id="second-tab" class="" style="font-size: 1.3em; width: 49%; float: right;">手机验证登录</a>
						</div>
						<div>
							<div class="a">
								<div class="loginpage-input-box"><i class="material-icons loginpage-input-icon"></i> <input type="text" placeholder="请输入您的手机号" class="login-page-input" style="margin-top: 30px;"></div>
								<div class="loginpage-input-box"><i class="material-icons loginpage-input-icon"></i> <input type="password" placeholder="请输入密码" class="login-page-input"></div>
								<p class="loginpage-forgetbtn">忘记密码</p>
								<div class="loginpage-login-btn">登录</div>
							</div>
							
							<div class="b" style="display: none;">
								<div class="loginpage-input-box">
									<i class="material-icons loginpage-input-icon"></i> 
									<input type="text" placeholder="请输入您的手机号" class="login-page-input" style="margin-top: 30px;">
								</div>
								<div class="loginpage-input-box">
									<i class="material-icons loginpage-input-icon"></i> 
									<input type="password" placeholder="请输入验证码" style="width: 63%; display: block; padding: 10px 0;text-indent: 3em;">
									<span class="color-white bg-red get-phone-code-btn">获取验证码</span>
								</div>
								<div class="loginpage-login-btn">登录</div>
							</div>
							
						</div>
						<!---->
						<div class="loginpage-box-footer">
							<div class="loginpage-box-gosign">
								立即注册 &gt;
							</div>
						</div>
					</div>
				</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<footer>
					<div class="container position-relative">
						<div class="footer-widge">
							<a class="back-top-btn" style="display: none;"><i class="material-icons"></i></a>
						</div>
						<div class="footer-head">
							<a href="#" target="_blank">后台入口</a>
							<a href="#">关于我们</a>
							<a href="#" class="" target="_blank">联系我们</a>
							<a href="#">招聘专区</a>
							<a href="#">网站地图</a>
							<a href="#" class="" target="_blank">&nbsp;</a> <span class="float-right"><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><i class="material-icons color-white" style="margin-right: 15px;">T</i> <span class="vertical-middle" style="font-size: 1.3em;">400 - 157 - 1060</span></span>
						</div>
						<div class="footer-body i-tab">
							<div class="footer-tab common-tab">
								<a class="footer-tab-btn common-tab-btn footer-tab-btn-active">热门城市</a>
								<a class="footer-tab-btn common-tab-btn">热门搜索</a>
							</div>
							<div class="footer-tab-item common-tab-item">
								<a href=" " title="北京" target="_self">北京</a>
								<a href=" " title="上海" target="_self">上海</a>
								<a href=" " title="广州" target="_self">广州</a>
								<a href=" " title="杭州" target="_self">杭州</a>
								<a href=" " title="宁波" target="_self">宁波</a>
								<a href=" " title="天津" target="_self">天津</a>
								<a href=" " title="南京" target="_self">南京</a>
								<a href=" " title="合肥" target="_self">合肥</a>
								<a href=" " title="苏州" target="_self">苏州</a>
								<a href=" " title="无锡" target="_self">无锡</a>
								<a href=" " title="福州" target="_self">福州</a>
								<a href=" " title="重庆" target="_self">重庆</a>
								<a href=" " title="长沙" target="_self">长沙</a>
								<a href=" " title="长春" target="_self">长春</a>
								<a href=" " title="成都" target="_self">成都</a>
								<a href=" " title="常州" target="_self">常州</a>
								<a href=" " title="大连" target="_self">大连</a>
								<a href=" " title="海口" target="_self">海口</a>
								<a href=" " title="贵阳" target="_self">贵阳</a>
								<a href=" " title="济南" target="_self">济南</a>
								<a href=" " title="兰州" target="_self">兰州</a>
								<a href=" " title="哈尔滨" target="_self">哈尔滨</a>
								<a href=" " title="呼和浩特" target="_self">呼和浩特</a>
								<a href=" " title="昆明" target="_self">昆明</a>
								<a href=" " title="拉萨" target="_self">拉萨</a>
								<a href=" " title="嘉兴" target="_self">嘉兴</a>
								<a href=" " title="南昌" target="_self">南昌</a>
								<a href=" " title="南宁" target="_self">南宁</a>
								<a href=" " title="石家庄" target="_self">石家庄</a>
								<a href=" " title="沈阳" target="_self">沈阳</a>
								<a href=" " title="太原" target="_self">太原</a>
								<a href=" " title="绍兴" target="_self">绍兴</a>
								<a href=" " title="武汉" target="_self">武汉</a>
								<a href=" " title="西安" target="_self">西安</a>
								<a href=" " title="西宁" target="_self">西宁</a>
								<a href=" " title="乌鲁木齐" target="_self">乌鲁木齐</a>
								<a href=" " title="郑州" target="_self">郑州</a>
							</div>
							<!---->
						</div>
						<div class="footer-footer">
							<a href="http://www.chinacourt.org/index.shtml" target="_blank" rel="nofollow">中国法院网</a>
							<a href="http://www.zjcourt.cn/" target="_blank" rel="nofollow">浙江法院新闻网</a>
							<a href="http://shfy.chinacourt.org/index.shtml" target="_blank" rel="nofollow">上海法院网</a>
							<a href="http://www.jsfy.gov.cn/" target="_blank" rel="nofollow">江苏法院网</a>
							<a href="http://bjgy.chinacourt.org/index.shtml" target="_blank" rel="nofollow">北京法院网</a>
							<a href="http://www.gdcourts.gov.cn/gdgy/s" target="_blank" rel="nofollow">广东法院网</a>
							<a href="http://www.tmsf.com/" target="_blank" rel="nofollow">透明售房网</a>
							<a href="http://www.zjpse.com/" target="_blank" rel="nofollow">浙江产权交易所</a>
							<a href="http://www.cbex.com.cn/" target="_blank" rel="nofollow">北京产权交易所</a>
						</div>
						<div class="copyright">
							<p>© Copyright 2016  laipaiya.com 版权所有 杭州网络科技有限公司 | 浙ICP备15004499号-1 |
								<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002655">浙公网安备 33010602002655号</a>
							</p>
						</div>
					</div>
				</footer>
			</div>
			<!---->
			<!---->
			<!---->
		</div>
		
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#first-tab").addClass('buttonHover');
			});

			function navigate_tabs(container, tab) {
				$(".a").css('display', 'none');
				$(".b").css('display', 'none');

				$("#first-tab").removeClass('buttonHover');
				$("#second-tab").removeClass('buttonHover');
				$("#" + tab).addClass('buttonHover');
				$("." + container).show('slow');
			}
		</script>
	</body>

</html>