<include file="Common/header" />
	<!-- 顶部 -->
	<div id="top" class="clearfix2">
		<p class="fl">顺拍后台管理中心</p>
		<span class="fr">
			Active User : {$Think.session.adminUser.username} | 
			<a href="{:U('Login/login_out')}">[退出登录]</a>
		</span>
	</div>
	<div class="clearfix2">
		<!-- 左侧导航 -->
		<div id="left-menu" class="fl">
            <h2><i class="glyphicon glyphicon-cog"></i>网站设置</h2>
            <p>
                <a href="{:U('Carousel/index')}" target="iframe">站点设置</a>
                <a href="{:U('Carousel/index')}" target="iframe">轮播图管理</a>
                <a href="{:U('Carousel/index')}" target="iframe">友情链接列表</a>
                <a href="{:U('Carousel/index')}" target="iframe">添加友情链接</a>
            </p>

            <h2><i class="glyphicon glyphicon-user"></i>用户管理</h2>
            <p>
                <a href="{:U('AdminUser/index')}" target="iframe">后台管理员</a>

                <a href="{:U('AdminUser/yuyue')}" target="iframe">预约看样列表</a>
                <a href="{:U('AdminUser/yuyueAdd')}" target="iframe">预约后台录入</a>
            </p>

            <h2><i class="glyphicon glyphicon-cog"></i>分类系统管理</h2>
            <p>
                <a href="{:U('AdminUser/index')}" target="iframe">地点分类列表</a>
                <a href="{:U('AdminUser/index')}" target="iframe">地点分类添加</a>
                <a href="{:U('AdminUser/index')}" target="iframe">法院列表</a>
                <a href="{:U('AdminUser/index')}" target="iframe">法院添加</a>
                <a href="{:U('AdminUser/index')}" target="iframe">价格列表</a>
                <a href="{:U('AdminUser/index')}" target="iframe">价格新增设置</a>
                <a href="{:U('AdminUser/index')}" target="iframe">标的物状态列表</a>
                <a href="{:U('AdminUser/index')}" target="iframe">标的物状态设置</a>
                <a href="{:U('AdminUser/index')}" target="iframe">拍卖时间段列表</a>
                <a href="{:U('AdminUser/index')}" target="iframe">拍卖时间段设置</a>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>信息发布系统</h2>
            <p>
                <a href="{:U('News/ours_news')}" target="iframe">标的物列表</a>
                <a href="{:U('News/ours_news')}" target="iframe">标的物录入</a>
            </p>

            <h2><i class="glyphicon glyphicon-cog"></i>系统设置</h2>
            <p>
                <a href="{:U('Carousel/index')}" target="iframe">轮播图管理</a>
            </p>

            <h2><i class="glyphicon glyphicon-user"></i>用户管理</h2>
            <p>

                <a href="{:U('AdminUser/index')}" target="iframe">后台管理员</a>
               <!-- <a href="{:U('School/index')}" target="iframe">学校列表</a>
                <a href="{:U('User/index')}" target="iframe">用户</a>
                <a href="{:U('User/shops')}" target="iframe">学校商城列表</a>-->
                <!--<a href="{:U('User/job')}" target="iframe">学生兼职</a>-->
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>集团介绍模块设置</h2>
            <p>
               <volist name='contentArr' id='content'>
               <a href="{$content.url}" target="iframe">{$content.content}</a>
               </volist>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>新闻发布</h2>
            <p>
                <a href="{:U('News/ours_news')}" target="iframe">集团新闻</a>
                <a href="{:U('News/business_news')}" target="iframe">行业新闻</a>
                <a href="{:U('News/others_news')}" target="iframe">媒体关注</a>
            </p>
            <h2>
                <i class="glyphicon glyphicon-cog"></i>艺术教育设置</h2>
            <p>
                <a href="{:U('School/index')}" target="iframe">首页设置</a>
                <a href="{:U('School/art')}" target="iframe">巴蜀画派艺术学校</a>
                <a href="{:U('School/profession')}" target="iframe">巴蜀画派专修学院</a>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>艺术交易设置</h2>
            <p>
                <a href="{:U('Trade/auction')}" target="iframe">宝墩拍卖</a>
                <a href="{:U('Trade/artwork')}" target="iframe">宝墩艺术品</a>
                <a href="{:U('Trade/artlink')}" target="iframe">艺链国际</a>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>艺术传媒设置</h2>
            <p>
                <a href="{:U('Media/beauty')}" target="iframe">中华美网</a>
                <a href="{:U('Media/paint')}" target="iframe">中华美术杂志</a>
                <a href="{:U('Media/magazine')}" target="iframe">巴蜀画派杂志</a>
                <a href="{:U('Media/tencent')}" target="iframe">微信微博</a>
                <a href="{:U('Media/media')}" target="iframe">巴蜀画派传媒公司</a>
                <a href="{:U('Media/work')}" target="iframe">杂志列表</a>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>文化活动设置</h2>
            <p>
                <a href="{:U('Culture/art')}" target="iframe">巴蜀国际艺博会</a>
                <a href="{:U('Culture/young')}" target="iframe">巴蜀青少年艺博</a>
                <a href="{:U('Culture/create')}" target="iframe">宝墩国际创博会</a>
                <a href="{:U('Culture/famous')}" target="iframe">巴蜀画派名家进校园</a>
                <a href="{:U('Culture/match')}" target="iframe">艺奥国际青少年书画大赛</a>
                <a href="{:U('Culture/tongxingyao')}" target="iframe">童星耀巴蜀才艺年会</a>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>联系我们设置</h2>
            <p>
                <a href="{:U('Contact/index')}" target="iframe">联系方式</a>
                <a href="{:U('Contact/nextTel')}" target="iframe">下属公司</a>
               <!-- <a href="{:U('Contact/saleNet')}" target="iframe">销售网点</a>-->
                <a href="{:U('Contact/teachNet')}" target="iframe">教学网点</a>
            </p>
            <h2><i class="glyphicon glyphicon-cog"></i>人力资源设置</h2>
            <p>
                <a href="{:U('Resource/method')}" target="iframe">人才理念</a>
                <a href="{:U('Resource/world')}" target="iframe">社会招聘</a>
                <a href="{:U('Resource/school')}" target="iframe">校园招聘</a>
            </p>

            <!--下面的参考-->
		</div>

		<div id="content" class="fr">
			<iframe src="{:U('Index/welcome')}" scrolling="auto" frameborder="0" name="iframe"></iframe>
		</div>
	</div>


<include file="Common/footer" />