<include file="Common/header" />
<script>
    //文件上传插件
    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        K('#image1').click(function() {
            editor.loadPlugin('image', function() {
                editor.plugin.imageDialog({
                    imageUrl : K('#url1').val(),
                    clickFn : function(url, title, width, height, border, align) {
                        K('#url1').val(url);
                      //  alert(url);
                        $('<img style="width:150px;height:150px;" img src="'+url+'"/>').appendTo(".up_box");
                        editor.hideDialog();
                    }
                });
            });
        });
        K('#insertfile').click(function() {
            editor.loadPlugin('insertfile', function() {
                editor.plugin.fileDialog({
                    fileUrl : K('#url').val(),
                    clickFn : function(url, title) {
                        K('#url').val(url);
                        editor.hideDialog();
                    }
                });
            });
        });
    });
</script>
	<div id="right-content">
		<div class="top">
			<h2>艺术交易 <small>宝墩拍卖</small></h2>
		</div>

		<form action="__ACTION__" method="post">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>设置项</th>
						<th>设置值</th>
					</tr>
				</thead>
				<tr>
					<td width="150">文件访问域名设置：（http://）</td>
					<td>
						<input type="text" name="p_url" class="form-control w400" value=""  placeholder="http://www.bashuart.com" ><span style="color: #ff0000">请填对，避免作品不能访问情况</span>
					</td>

				</tr>
				<tr>
					<td width="150">文件说明</td>
					<td>
                        <textarea name="p_title" class="form-control w400"  placeholder="巴蜀画派招生简章"></textarea>
					</td>
				</tr>
				<tr>
					<td>封面图片上传</td>
					<td>
						<!-- 图片上传 begin -->
						<div class="up_box">
                            <p>
                                <input type="text" readonly name="p_pics" id="url1" value="{$data['i_pics']}" />
                                <input type="button" id="image1" value="选择图片" />（网络图片 + 本地上传）
                            </p>
                            <p id="pic1"></p>
						</div>
						<include file="Common/upload" />
						<!-- 图片上传 end -->
					</td>
				</tr>
                <tr>
                    <td>文件上传</td>
                    <td>
                        <input type="text" name="url" id="url" value="" />
                        <input type="button" id="insertfile" value="选择文件" />
                    </td>
                </tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" class="btn btn-primary w100">修改</button>
					</td>
				</tr>
			</table>
		</div>
		</form>
	</div>

<include file="Common/footer" />